<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sistema de Receitas{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav><ul class="nav-links">
            <a href="{% url 'pagina_inicial' %}">Home</a> |
            <a href="/admin/">Admin</a>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>